---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Scarecrow from '../assets/Scarecrow.png'
---

<Layout title="404 Not Found Challenge">
	<!-- TODO: Add header content -->
	<header>
	</header>
	<main>
		<section class="v-align">
			<img src={Scarecrow.src} alt="funny scarecrow" class="img"/>
		</section>
		<section>
			<h1>I have bad news for you</h1>
			<p>The page you are looking for might be removed or is temporarily unavailable</p>
			<button>BACK TO HOMEPAGE</button>
		</section>
	</main>
	<footer>
		<p>created by <a href="https://github.com/im-allan" target="_blank">im-allan</a> - devchallenges.io </p>
	</footer>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono&display=swap');

	header{
		height: 15%;
	}

	/* Main */
	main {
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: auto;
		width: 85%;
		gap: 5em;
		margin: auto;
	}



	/* Footer */

	footer {
		align-items: end;
		display: flex;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		height: 10%;
		justify-content: center;
		width: 100%;
	}

	footer > p {
		color: #BDBDBD;
		font-weight: 500;
	}

	a {
		color: #BDBDBD;
		font-weight: 700;
	}

</style>
